/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  color: #FFFFFF;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cabin', sans-serif;
  color: #fe5b5b;
  text-align: center;
}
h1 {
  font-size: 8rem;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
@media (max-width: 800px) {
  h1 {
    font-size: 6rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-size: 5rem;
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  h2 {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.8rem;
  }
}
h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.8rem;
  }
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1%;
}
@media (max-width: 500px) {
  p {
    font-size: 1.4rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}
a:hover {
  color: #DC143C;
}
@media (max-width: 500px) {
  a {
    font-size: 1.4rem;
  }
}
section {
  width: 80%;
  padding-top: 1%;
  padding-bottom: 3%;
}
li {
  font-size: 2rem;
  line-height: 1.5;
  list-style-type: circle;
}
@media (max-width: 800px) {
  li {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  li {
    font-size: 1.4rem;
  }
}
img {
  border-radius: 5px;
  border: 1px solid #C0C0C0;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  background: #222020;
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header .logo {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .logo p {
  line-height: 1;
  padding-bottom: 0;
}
@media (max-width: 800px) {
  header .logo {
    padding-left: 5%;
  }
}
header nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  header nav {
    width: 50%;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    padding: 2% 0;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DC143C;
  padding: 3%;
  margin-top: 4%;
  border-top: 1px solid #C0C0C0;
}
footer nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1% 0;
}
footer nav a {
  font-size: 1.4rem;
}
footer nav a:hover {
  color: #000000;
}
.home,
section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .mission,
section .mission {
  background-image: url(../img/crossfit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
}
.home .mission .home .content,
section .mission .home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.home .mission .home .content .home .textContainer,
section .mission .home .content .home .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.home p {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .home p {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .home p {
    font-size: 1.4rem;
  }
}
.home a {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .home a {
    font-size: 1.6rem;
  }
}
.mission h2 {
  color: #FFFFFF;
  padding: 2% 0;
}
.mission p {
  font-size: 3rem;
  padding-top: 1%;
  padding-bottom: 4%;
  text-align: center;
}
@media (max-width: 800px) {
  .mission p {
    font-size: 2.3rem;
  }
}
@media (max-width: 500px) {
  .mission p {
    font-size: 1.8rem;
  }
}
.btn {
  width: 15%;
  font-size: 1.6rem;
  text-align: center;
  background: #DC143C;
  padding: 1.5%;
  border-radius: 10px;
  border: 1px solid #C0C0C0;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .btn {
    width: 25%;
  }
}
@media (max-width: 500px) {
  .btn {
    border-radius: 5px;
  }
}
.btn:hover {
  background-color: #C0C0C0;
  border: 1px solid #DC143C;
}
.imageContainer {
  width: 80%;
}
.imageContainer img {
  height: auto;
  width: 100%;
  max-width: 725px;
  max-height: 500px;
}
.title {
  max-width: 90%;
}
.about,
section {
  width: 90%;
}
.about .contentWrap,
section .contentWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
}
@media (max-width: 500px) {
  .about .contentWrap,
  section .contentWrap {
    width: 100%;
  }
}
.about .contentWrap .textContainer,
section .contentWrap .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  width: 50%;
}
.about .contentWrap .imageContainer,
section .contentWrap .imageContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}
.about .contentWrap .imageContainer img,
section .contentWrap .imageContainer img {
  max-width: 325px;
}
.contentTitle {
  margin: 0 auto;
}
.contentTitle h2 {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.title {
  padding-bottom: 4%;
}
ul {
  width: 90%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
ul li {
  width: 80%;
  margin-left: 10%;
  align-self: flex-start;
}
.reverse.contentWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}
.reverse.contentWrap .textContainer ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.reverse.contentWrap .textContainer ul li {
  align-content: flex-start;
}
@media (max-width: 800px) {
  .reverse.contentWrap .textContainer ul li {
    margin-left: 20%;
  }
}
.reverse.contentWrap .textContainer ul .clientsBullets {
  padding-left: 15%;
}
.reverse.contentWrap .imageContainer {
  margin-left: 8%;
}
.about .imageContainer {
  margin-right: 8%;
}
.contentWrap.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contentWrap.team .individual {
  width: 30%;
  padding: 2%;
}
@media (max-width: 800px) {
  .contentWrap.team .individual {
    width: 45%;
    padding: 2% 5%;
  }
}
@media (max-width: 500px) {
  .contentWrap.team .individual {
    width: 90%;
  }
}
.contentWrap.team .individual h4 {
  color: #FFFFFF;
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v14/u-4x0qWljRw-Pe83.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
