/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 2px solid white;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  color: #FFFFFF;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cabin', sans-serif;
  color: #fe5b5b;
}
h1 {
  font-size: 8rem;
  text-align: center;
  letter-spacing: 3px;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  p {
    font-size: 1.4rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}
a:hover {
  color: #DC143C;
}
@media (max-width: 500px) {
  a {
    font-size: 1.4rem;
  }
}
section {
  width: 80%;
  padding: 4% 0;
}
li {
  font-size: 1.6rem;
  line-height: 1.5;
  list-style-type: circle;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
}
header .logo {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DC143C;
  padding: 3%;
}
footer nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1% 0;
}
footer nav a {
  font-size: 1.4rem;
}
footer nav a:hover {
  color: #000000;
}
section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageContainer {
  width: 80%;
}
.imageContainer img {
  width: 100%;
  margin: 0 auto;
}
.about {
  width: 80%;
}
.about .imageContainer {
  width: 50%;
}
.clientsBullets {
  padding-left: 4%;
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v14/u-4x0qWljRw-Pe83.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
