.about,section{
    width: 90%;

    .contentWrap{
        .flexin(row, space-around, flex-start);
        width: 90%;

        @media @mobile{
            width: 100%;
        }
        

        .textContainer{
            .flexin(column, flex-start, flex-start);
            align-content: flex-start;
            margin: 0 auto;
            width: 50%;
        }// this closes textContainer

        .imageContainer{
            width: 45%;
            .flexin(column, center, flex-start);
            margin: 0 auto;

            img{
                max-width: 325px;
            }
        }

    }

    
}

.contentTitle{
    margin: 0 auto;

    h2{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
}

.title{
    padding-bottom: 4%;
}

ul{
    width: 90%;
    margin-left: 10%;
    .flexin(column, flex-start, flex-start);
    align-content: flex-start;

    li{
        width: 80%;
        margin-left: 10%;
        align-self: flex-start;


    }
}

.reverse.contentWrap{
    .flexin(row-reverse, flex-start, flex-start);

    .textContainer{
        ul{
            width: 90%;
            margin: 0 auto;
            .flexin(column, flex-start, flex-start);
            align-content: flex-start;

            

            li{
                align-content: flex-start;

                @media @tablet{
                    margin-left: 20%;
                }
            }

            .clientsBullets{
                padding-left: 15%;
            }
        }
    }

    .imageContainer{
        margin-left: 8%;
    }
}

.about .imageContainer{
    margin-right: 8%;
}

.contentWrap.team{
    .flexin(row, center, flex-start);
    flex-wrap: wrap;

    .individual{
        width: 30%;
        padding: 2%;

        @media @tablet{
            width: 45%;
            padding: 2% 5%;
        }

        @media @mobile{
            width: 90%;
        }

        h4{
            color: @white;
        }
    }
}
