.about,section{
    width: 90%;

    @media @tablet{
        width: 100%;
    }

    .contentWrap{
        .flexin(row, center, flex-start);
        width: 90%;

        @media @mobile{
            width: 100%;
        }
        

        .textContainer{
            margin: 0 auto;
            width: 40%;
            @media @tablet{
                width: 50%;
            }

            p{
                font-size: 2rem;

                @media @tablet{
                    font-size: 1.6rem;
                }
                
                @media @mobile{
                    font-size: 1.4rem;
                  }
            }
        }// this closes textContainer

        .imageContainer{
            max-width: 325px;
            width: 45%;
            .flexin(column, center, center);
            margin: 0 auto;

            img{
                max-width: 325px;
            }
        }

    }

    
}

.contentTitle{
    margin: 0 auto;
    padding-bottom: 2%;

    h2{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
}

.title{
    padding-bottom: 4%;
    margin: 0 auto;
}

ul{
    width: 100%;
    .flexin(column, flex-start, flex-start);
    align-content: flex-start;

    li{
        width: 90%;
        margin-left: 10%;
        align-self: flex-start;
    }

    .clientsBullets{
        margin-left: 15%;
    }
}

.reverse.contentWrap{
    .flexin(row-reverse, center, flex-start);
}

.contentTitle.team{
    width: 100%;
    background: @silver;
    padding-top: 2%;

    h2{
        color: @white;
    }
}

.content.team{
    width: 100%;
    background: @silver;

    .contentWrap{
        .flexin(row, center, flex-start);
        flex-wrap: wrap;
    
        .individual{
            width: 30%;
            padding: 2%;
    
            @media @tablet{
                width: 45%;
                padding: 2% 5%;
            }
    
            @media @mobile{
                width: 90%;
            }
    
            h3{
                color: @red;
            }
    
            h4{
                color: @darkgrey;
            }
    
            p{
                text-align: justify;
                color: @darkgrey;

                @media @tablet{
                    text-align: center;
                }
            }
        }
    }
}

