header{
    width: 100%;
    .flexin(row, space-between, center);
    padding: 1% 0;

    .logo{
        width: 20%;
        .flexin(row, space-around, center);
    }

    nav{
        width: 50%;
        .flexin(row, space-around, center);
    }// this closes nav
}// this closes header