// Color assignments 
@font-color: @white;
@button-bg: @red;
@main-bg:  @black;
@navigation-border: @silver;
@footer-bg: @red;
@button-border: @silver;
@button-color: @white;
@heading-color: @palered;
@navigation-bg: @darkgrey;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@black: #000000;
@red: #DC143C;
@palered: #fe5b5b;
@darkgrey: #222020;

// Media
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";